.image_from_fetch {
    width: 23rem;
    height: 13rem;
    object-fit: contain;
    border: 1px solid black;
}

.title_text {
    color: #7a19a7;
}

.subtitle_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
