.main_div {
    position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .controls_div_box {
        position: absolute;
        top: 9rem;
        left: 1rem;
        font-size: 0.2rem;
    }

    .controls_mouse_items, span {
        width: 7rem;
        height: 0.5rem;
        display: block;
    }

    /* li {
        line-height: 0.01rem;
    } */

    .controls_text_span {
        font-size: 0.4rem;
    }

    .weapon_inspection_text {
        position: absolute;
        top: 7.2rem;
        left: 1rem;
        font-size: 0.6rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .controls_div_box {
        position: absolute;
        top: 9.3rem;
        left: 1.7rem;
        font-size: 0.45rem;
    }

    .controls_mouse_items, span {
        width: 7rem;
        height: 1.3rem;
        display: block;
    }

    li {
        line-height: 0.3rem;
    }


    .controls_text_span {
        font-size: 0.7rem;
    }

    .weapon_inspection_text {
        width: 50rem;
        position: absolute;
        top: 7.5rem;
        left: 1.7rem;
        font-size: 1.1rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .controls_div_box {
        position: absolute;
        top: 11rem;
        left: 2rem;
        font-size: 0.5rem;
    }

    .controls_mouse_items, span {
        width: 10rem;
        height: 2rem;
        display: block;
    }

    li {
        line-height: 0.7rem;
    }

    .controls_text_span {
        font-size: 1rem;
    }

    .weapon_inspection_text {
        position: absolute;
        top: 7.5rem;
        left: 2rem;
        font-size: 2rem;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .controls_div_box {
        position: absolute;
        top: 13rem;
        left: 3rem;
        font-size: 0.5rem;
    }

    .controls_text_span {
        font-size: 1rem;
    }

    .weapon_inspection_text {
        position: absolute;
        top: 8rem;
        left: 3rem;
        font-size: 2rem;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .controls_div_box {
        position: absolute;
        top: 13rem;
        left: 4rem;
        font-size: 0.8rem;
    }

    

    .controls_text_span {
        font-size: 1.5rem;
    }

    .weapon_inspection_text {
        position: absolute;
        top: 8rem;
        left: 4rem;
        font-size: 2.5rem;
    }
}

.weapon_model_box {
    z-index: 2;
    border: 3px dashed rgb(104, 104, 104);
}

.weapon_inspection_text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: default;
    z-index: 3;
    text-decoration: underline;
}

.controls_div_box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 3;
    cursor: default;
}

.controls_text_span {
    text-decoration: solid underline 0.1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style-type: none;
}

.controls_mouse_items {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
